<h2>Question for coach</h2>
<p> <%= params[:ask] %></p>

<h2>Coach's answer</h1>
<p> <%= @answer %></p>

<!-- display the question you ask your coach as well as his answer -->


<%= link_to "Ask a New Question", ask_path %>
